<style type="text/css">
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
	.landingRow{
		background: linear-gradient(to bottom right, #1cb1d1, #3d515b);
		/*background-image: url('/assets/background.png');*/
	    height: 520px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.landingDiv{
		color: white;
		margin-top: 60px;
		text-align: justify;
	}
	.secondRow{
		height: auto;
		text-align: center;
		color: #333;
		margin-bottom: 50px;
	}
	.secondDiv p{
		text-align: justify;
	}
	.right{
		/*text-align: center;*/
	}
	.border{
	    width: 125px;
	    height: 125px;
	    font-size: 50px;
	    padding: 30px;
	    border: 1px solid #333;
	    border-radius: 50%;
	    display: inline-block;
	    margin-bottom: 25px;
	}
	.secondRowCont{
		margin-top: 50px;
	}
	.imgDiv{
		background: #f3f3f3;
		position: relative;
		overflow: hidden;
		width: 21%;
		/*border: 3px solid black;*/
		padding: 0px;
		margin: 0px 2%;
		transition: all 0.3s;
	}
	.imgDiv img{
		  max-width: 100%;
		  -moz-transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
	}
	.imgDiv:hover img{
		  -moz-transform: scale(1.1);
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		  opacity: 0.8;
	}
	.imgRow{
		text-align: center;
		margin-top: 50px;
	}
	.thirdRow{
		margin-bottom: 50px;
	}
	.breakRow{
/*		background: -webkit-linear-gradient(left, #132e43, #1bb1d1);
		color: white;*/
		margin-top: 2%;
	}
	.breakRow h1{
		margin-bottom: 20px;
		text-align: center;
	}
	.imgRow a{
		color: black;
	}
	.description{
		margin: 20px 0;
		font-size: 20px;
	}
	.specialRow{
		background: #f3f3f3;
    	padding: 2%;
	}
	.or{
		/*text-align: center;*/
		margin-left: 40px;
    	display: block;
	}
	.btnDiv{
		margin-top: 2%;
		text-align: right;
	}
	.formDiv div{
		margin-bottom: 2%;
	}
	.formHeader{
		margin-top: 20px;
		text-align: center;
		margin-bottom: 35px;
	}
	.formDiv{
		margin-top: 70px;
	}
	.landingDiv img{
		width: 65%;
	}
	.logoSpan{
		text-align: center;
		display: block;
	}
	#resultFrame{
		border-width: 0px;
		margin-top: 20px;
		height: 2300px;
		width: 100%;
		  -moz-transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
	}
	.fareGrab{
		padding-left: 0%;
	}
	.vaca{
		padding-left: 25%;
	}
	.block{
		display: block;
	}
	.hide{
		display: none;
	}
	.center{
		margin: 0 auto;
	}
	.dest{
		margin-bottom: 0px !important;
	}
	.lux{
		height: 680px;
	}
	.specialHeader{
		display: inline-block;
	}
	.price{
		display: inline-block;
		float: right;
	}
	.specialImg{
		  -moz-transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
	}
	.specialImg:hover{
		opacity: 0.8;
	}
	#vacationButton{
		background: transparent;
    	border-color: white;
	}
	#flightButton{
		background: transparent;
    	border-color: white;
	}
	.myTabs a{
		color: #333;
		background-color: white;
	}
	#myTabs{
		margin-bottom: 30px;
	}
	.nav-tabs>li.active>a{
		opacity: 0.8;
	}
</style>
<div class="row landingRow">
	<div class="container">
		<div class="col-sm-6 landingDiv">
			<span class="logoSpan"><%= image_tag('header_logo') %></span>
			<p>From a small idea in a Greyhound bus station to innovative pioneer in the travel industry, Archer Travel, like the best of success stories, started with a simple dream and idea. Archer Travel was established in 1952 inside the lobby of the Glendale, CA Greyhound bus terminal by Cliff and Lola Archer. The Archers wanted to provide quality information and affordable travel arrangements for local residents and friends who wanted to see the world. They wanted to build a business that provided the highest levels of customer service and true value. Today, that commitment to quality and affordability is carried on by the Archer Family. Ron Archer is the son of the founders, and together with his wife Jill, they own and operate the company and carry on the tradition. Archer Travel Service, Inc. is made up of several divisions dedicated to providing value and dependability to tens of thousands of travelers each year. Archer Leisure Travel specializes in Hawaii, Mexico, Canada, Europe and the Caribbean. Archer Travel will provide a package just right for you and your budget.</p>
		</div>
<div class="col-sm-6 landingDiv right formDiv">
<div class="tabsDiv">

		  <!-- Nav tabs -->
		  <ul id="myTabs" class="nav nav-tabs" role="tablist">
		    <li class="myTabs" role="presentation" class="active"><a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a></li>
		    <li class="myTabs" role="presentation"><a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a></li>
		    <li class="myTabs" role="presentation"><a href="#cars" aria-controls="cars" role="tab" data-toggle="tab">Cars</a></li>
		    <li class="myTabs" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Vacation</a></li>
		  </ul>

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane" id="home">
	<form name="VPSearchForm"  method="post" action="http://www.latesttraveloffers.com/ci/enter.asp?site=VTHARC&amp;account=&amp;UseSearchApi=true" id="vacationForm" target="resultFrame">
	<input type="hidden" name="srchDestText">
	<div class="form-group">
	    <label for="srchTravType" class="col-lg-4 col-md-6 control-label">Travel Type</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchTravType" class="VP-SearchInput form-control">
				<option value="CRVA">Cruises/Vacation Pkgs</option>
				<option value="CRUZ">Cruises Only</option>
				<option value="PKG">Vacation Pkgs Only</option>
				<option value="TOUR">Tours Only</option>
				<option value="AUTO">International Auto</option>
				<option value="LODG">Lodging</option>
				<option value="AIR">Air Only</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <label for="srchDestText1" class="col-lg-4 control-label col-md-6">Destination</label>
	    <div class="col-lg-8 dest col-md-6">
			<select name="srchDestText1" class="VP-SearchInput form-control" onchange="document.VPSearchForm.srchDestText2.value='';">
				<option value="">Any Destination</option>
				<option value="Africa">Africa</option>
				<option value="Alaska">Alaska</option>
				<option value="Antarctica">Antarctica</option>
				<option value="Aruba">Aruba</option>
				<option value="Asia">Asia</option>
				<option value="Australia">Australia</option>
				<option value="Bahamas">Bahamas</option>
				<option value="Baltic">Baltic</option>
				<option value="Bermuda">Bermuda</option>
				<option value="Britain and Ireland">Britain and Ireland</option>
				<option value="California">California</option>
				<option value="Canada and New England">Canada and New England</option>
				<option value="Western Canada">Canada (Western)</option>
				<option value="Cancun">Cancun</option>
				<option value="Caribbean">Caribbean</option>
				<option value="Western Caribbean">Caribbean (Western)</option>
				<option value="Eastern Caribbean">Caribbean (Eastern)</option>
				<option value="Southern Caribbean">Caribbean (Southern)</option>
				<option value="Central America">Central America</option>
				<option value="Europe">Europe</option>
				<option value="Florida">Florida</option>
				<option value="Hawaii">Hawaii</option>
				<option value="Jamaica">Jamaica</option>
				<option value="Las Vegas">Las Vegas</option>
				<option value="Mediterranean">Mediterranean</option>
				<option value="Mexican Riviera">Mexican Riviera</option>
				<option value="Mexico">Mexico</option>
				<option value="Middle East">Middle East</option>
				<option value="New Zealand">New Zealand</option>
				<option value="Northern Europe">Northern Europe</option>
				<option value="Panama Canal">Panama Canal</option>
				<option value="South America">South America</option>
				<option value="South Pacific">South Pacific</option>
				<option value="Transatlantic">Transatlantic</option>
				<option value="USA">USA</option>
				<option value="Eastern US">USA (Eastern)</option>
				<option value="Western US">USA (Western)</option>
			</select>
		</div>
	</div>
	<div class="or">or</div>
	<div class="form-group">
	    <label for="srchDestText2" class="col-lg-4 control-label col-md-6">Type in Destination</label>
	    <div class="col-lg-8 col-md-6">
			<input id="destinationSearch" type="text" class="VP-SearchInput form-control" name="srchDestText2">
		</div>
	</div>
	<div class="form-group">
	    <label for="srchStartTravDate" class="col-lg-4 control-label col-md-6">Departure Date</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchStartTravDate" class="VP-SearchInput form-control">
				<option value="">Any Date</option>
				<option value="04*2016*">April 2016</option>
				<option value="05*2016*">May 2016</option>
				<option value="06*2016*">June 2016</option>
				<option value="07*2016*">July 2016</option>
				<option value="08*2016*">August 2016</option>
				<option value="09*2016*">September 2016</option>
				<option value="10*2016*">October 2016</option>
				<option value="11*2016*">November 2016</option>
				<option value="12*2016*">December 2016</option>
				<option value="01*2017*">January 2017</option>
				<option value="02*2017*">February 2017</option>
				<option value="03*2017*">March 2017</option>
				<option value="04*2017*">April 2017</option>
				<option value="05*2017*">May 2017</option>
				<option value="06*2017*">June 2017</option>
				<option value="07*2017*">July 2017</option>
				<option value="08*2017*">August 2017</option>
				<option value="09*2017*">September 2017</option>
				<option value="10*2017*">October 2017</option>
				<option value="11*2017*">November 2017</option>
				<option value="12*2017*">December 2017</option>
				<option value="01*2018*">January 2018</option>
				<option value="02*2018*">February 2018</option>
				<option value="03*2018*">March 2018</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <label for="srchTravLength" class="col-lg-4 control-label col-md-6">Travel Length</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchTravLength" id="srchTravLength" class="VP-SearchInput form-control">
				<option value="">Any Length</option>
				<option value="0*2*">0-2 nights</option>
				<option value="3*6*">3-6 nights</option>
				<option value="7*9*">7-9 nights</option>
				<option value="10*14*">10-14 nights</option>
				<option value="14**">over 14 nights</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-sm-12 btnDiv">
			<button class="btn btn-primary btn-sm" id="vacationButton" type="submit">Search</button>
		</div>
	</div>
	</form> 
</div>
<div role="tabpanel" class="tab-pane active" id="flights">
	<form id="regularSearchForm" method="post" action="https://evov2.faregrabbr.com/remoteflightmultisearch.php?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiYXJjaGVyX2FwaUBmYXJlZ3JhYmJyLmNvbSIsImlzc3VlX3RpbWUiOiIyMDE3LTA1LTMwIDIyOjA5OjAzIiwiaXAiOiI3My4yMjMuMTg1LjUwIn0.g-7nfu7AzzO6dToyu3o6cc6T9BynnCXz3Tc26_2lT9g" novalidate target="resultFrame">
	<div class="form-group">
	    <label for="type" class="col-lg-4 control-label col-md-6">Type</label>
	    <div class="col-lg-8 col-md-6">
			<select name="type" id="air_type" class="form-control">
				<option value="roundtrip">Round Trip</option>
				<option value="oneway">One Way</option>
				<option value="multicity">Multi City</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <label for="origin" class="col-lg-4 control-label col-md-6">Origin</label>
	    <div class="col-lg-8 col-md-6">
			<input type="text" name="citypairs[0][origin]" class="form-control" id="origin">
		</div>
	</div>
	<div class="form-group">
	    <label for="destination" class="col-lg-4 control-label col-md-6">Destination</label>
	    <div class="col-lg-8 col-md-6">
			<input type="text" name="citypairs[0][destination]" class="form-control" id="destination">
		</div>
	</div>
	<div class="form-group">
	    <label for="depart" class="col-lg-4 control-label col-md-6">Depart</label>
	    <div class="col-lg-8 col-md-6">
			<input type="date" name="citypairs[0][departdate]" class="form-control" id="depart">
		</div>
	</div>
	<div class="form-group">
	    <label for="return" class="col-lg-4 control-label col-md-6">Return</label>
	    <div class="col-lg-8 col-md-6">
			<input type="date" name="citypairs[0][returndate]" class="form-control" id="return">
		</div>
	</div>
	<div class="form-group">
	    <label for="adults" class="col-lg-4 control-label col-md-6">Adults</label>
	    <div class="col-lg-8 col-md-6">
			<input type="number" name="adults" class="form-control" id="adults" min="1">
		</div>
	</div>
	<div class="form-group">
	    <label for="children" class="col-lg-4 control-label col-md-6">Children</label>
	    <div class="col-lg-8 col-md-6">
			<input type="number" name="children" class="form-control" id="adults" min="0">
		</div>
	</div>
	<input type="hidden" name="isWidget" value="true">
	<div class="form-group col-sm-12 btnDiv">
		<input type="submit" value="Search" id="flightButton" class="btn btn-primary btn-sm">
	</div>
</form>
</div>
<div role="tabpanel" class="tab-pane" id="hotels">...</div>
<div role="tabpanel" class="tab-pane" id="cars">...</div>
		  </div>

</div>
		</div>
	</div>
</div>
<div class="row resultRow">
	<div class="container resultCont">
		<div class="col-sm-12">
			<iframe src="" name="resultFrame" id="resultFrame" class="hide"></iframe>
	</div>
</div>
<div class="row secondRow">
	<div class="container secondRowCont">
		<div class="col-sm-4 secondDiv">
			<span class="border"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></span>
			<p>Integer quis urna id nulla aliquam bibendum. Etiam sit amet rhoncus mauris. Nunc euismod vel dui non sollicitudin. Maecenas in accumsan urna. Suspendisse potenti. Suspendisse laoreet ultricies tellus non condimentum. Donec pretium scelerisque euismod. Donec vel vestibulum velit. Sed elementum ac turpis et condimentum.</p>
		</div>
		<div class="col-sm-4 secondDiv">
			<span class="border"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></span>
			<p>Curabitur augue erat, porttitor vitae viverra non, vehicula ut ligula. Vivamus efficitur ante ante. Mauris lectus tellus, commodo vel neque vitae, luctus pretium sem. Duis tempor blandit elementum. Vivamus auctor consequat urna, vel egestas sem ornare sed. Integer sed dui urna. Mauris ultricies magna sodales nulla consectetur molestie.</p>
		</div>
		<div class="col-sm-4 secondDiv">
			<span class="border"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
			<p>Aenean ac mauris leo. Quisque urna eros, condimentum sit amet tempor ac, vulputate ac ligula. Vivamus placerat vestibulum vestibulum. Integer volutpat neque justo, sed suscipit tellus rutrum quis. Integer vel nisl quam. Nunc ultricies nisi a sodales ullamcorper. Quisque mollis consequat dui, sed tincidunt enim accumsan non.</p>
		</div>
	</div>
</div>
<% if @special %>
<div class="row specialRow">
	<div class="container">
		<div class="col-sm-6 specialImageDiv">
			<a href="/specials/<%= @special.id %>"><%= image_tag(@special.image.url, :class => "img-responsive specialImg") %></a>
		</div>
		<div class="col-sm-6">
			<h3 class="specialHeader"><%= @special.title %></h3>
			<h3 class="price"><%= number_to_currency(@special.price) %></h3>
			<p><%= @special.description %><a href="specials/<%= @special.id %>"> Learn More!</a></p>
		</div>
	</div>
</div>
<% end %>
<div class="row thirdRow">
	<div class="row breakRow">
		<div class="container">
			<h1>Discover Your Next Vacation!</h1>
		</div>
	</div>
	<div class="container thirdCont">
		<div class="row imgRow">
			<a role="button" tabindex="0" class="hawaii"><div class="imgDiv col-sm-3"><%= image_tag('beach.jpg', :class => "img-responsive") %><div class="description">Hawaii</div></div></a>
			<a role="button" tabindex="0" class="europe"><div class="imgDiv col-sm-3"><%= image_tag('lake.jpg', :class => "img-responsive") %><div class="description">Europe</div></div></a>
			<a role="button" tabindex="0" id="sydney"><div class="imgDiv col-sm-3"><%= image_tag('sydney.jpg', :class => "img-responsive") %><div class="description">Sydney</div></div></a>
			<a role="button" tabindex="0" class="luxury"><div class="imgDiv col-sm-3"><%= image_tag('sf.jpg', :class => "img-responsive") %><div class="description">Luxurious Escapes</div></div></a>
		</div>
		<div class="row imgRow">
			<a role="button" tabindex="0" class="short"><div class="imgDiv col-sm-3"><%= image_tag('china.jpg', :class => "img-responsive") %><div class="description">Short Getaways</div></div></a>
			<a role="button" tabindex="0" class="activeDiv"><div class="imgDiv col-sm-3"><%= image_tag('nyc.jpg', :class => "img-responsive") %><div class="description">Active Vacations</div></div></a>
			<a role="button" tabindex="0" class="vegas"><div class="imgDiv col-sm-3"><%= image_tag('vegas.jpg', :class => "img-responsive") %><div class="description">Las Vegas</div></div></a>
			<a role="button" tabindex="0" class="alaska"><div class="imgDiv col-sm-3"><%= image_tag('chicago.jpg', :class => "img-responsive") %><div class="description">Alaska</div></div></a>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load',function(){

$('.myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

// $('#sydney').click(function(){
// 	$('#destinationSearch').val("Sydney");
// 	$('#vacationButton').click();
// })

// $('#china').click(function(){
// 	$('#destinationSearch').val("China");
// 	$('#vacationButton').click();
// })

$('.vegas').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=4111&TargetType=Hot+Destinations");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.hawaii').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=1702&TargetType=Hot+Destinations");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.europe').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=1703&TargetType=Hot+Destinations");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.alaska').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=1705&TargetType=Hot+Destinations");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.luxury').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/OfferGroups.asp?OfferGroupId=7");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.short').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/OfferGroups.asp?OfferGroupId=10");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

$('.activeDiv').click(function(){
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/OfferGroups.asp?OfferGroupId=2063");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
})

// $('.carribean').click(function(){
// 	$('#resultFrame').removeClass('hide');
// 	$('#resultFrame').addClass('block');
// 	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=1701&TargetType=Hot+Destinations")
// 	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
// })

$("#vacationButton").click(function() {
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').addClass('vaca');
    $("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
    addCss();
})

$("#flightButton").click(function() {
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').addClass('fareGrab');
    $("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
    addCss();
})

<% if session[:hawaii] %>
	$('.hawaii').click();
	<% session.delete(:hawaii) %>
	<% session[:hawaii] = nil %>
<% end %>

<% if session[:vegas] %>
	$('.vegas').click();
	<% session[:vegas] = nil %>
<% end %>

<% if session[:alaska] %>
	$('.alaska').click();
	<% session[:alaska] = nil %>
<% end %>

<% if session[:europe] %>
	$('.europe').click();
	<% session[:europe] = nil %>
<% end %>

<% if session[:luxury] %>
	$('.luxury').click();
	<% session[:luxury] = nil %>
<% end %>

<% if session[:short] %>
	$('.short').click();
	<% session[:short] = nil %>
<% end %>

<% if session[:active] %>
	$('.active').click();
	<% session[:active] = nil %>
<% end %>

<% if session[:carribean] %>
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/SearchLoading.asp?SearchId=1701&TargetType=Hot+Destinations");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
	<% session[:carribean] = nil %>
<% end %>

<% if session[:river] %>
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/OfferGroups.asp?OfferGroupId=1056");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
	<% session[:river] = nil %>
<% end %>

<% if session[:distinct] %>
	$('#resultFrame').removeClass('hide');
	$('#resultFrame').addClass('block');
	$('#resultFrame').attr('src', "http://www1.latesttraveloffers.com/lton/OfferGroups.asp?OfferGroupId=4880");
	$("html, body").animate({ scrollTop: $("#resultFrame").offset().top -20}, 500);
	<% session[:distinct] = nil %>
<% end %>

// frameLoaded = function(){
// 	console.log("loaded");
// 	var height = $("iframe").contents().find("mainBody").height();
// 	console.log(height);
// }

function addCss(){
	$('#mainContent').addClass('center');
}
// $("#vacationForm").submit(function(e)
// {
//     var postData = $(this).serialize();
//     var formURL = $(this).attr("action");
//     $.ajax(
//     {
//         url : formURL,
//         headers: { 'Access-Control-Allow-Origin': '*' },
//         type: "POST",
//         crossDomain: true,
//         // dataType: 'html',
//         data : postData,
//         success:function(data, textStatus, jqXHR) 
//         {
//             $('.yieldContainer').load(data.url);
//             console.log(data.url)
//         },
//         error: function(jqXHR, textStatus, errorThrown) 
//         {
//             //if fails      
//         }
//     });
//     e.preventDefault(); //STOP default action
//     // e.unbind(); //unbind. to stop multiple form submit.
// });

});
</script>