<!DOCTYPE html>
<html>
  <head>
    <title>ArcherTravel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet'  type='text/css'>
  <style type="text/css">
  html{
  	overflow-x: hidden;
  }

body {
	font-family: 'Droid Sans', sans-serif;
}
  /*Ghost CSS*/
/*  * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
  	@media (max-width: 767px) {
  		body {
  			padding-right: 0px;
  			padding-left: 0px;
  		}
  	}
  	.navbar{
  		transition: all 0.3s;
  	}
  	.yieldContainer{
  		margin-bottom: 5%;
  	}
  	.navbar-default{
  		background: transparent;
  		border: none;
  		box-shadow: none;
  		-webkit-box-shadow: none;
  	}
  	.down{
  		opacity: 0;
  	}
  	#navbar a{
  		color: white;
  	}
    .navbar-brand{
  		color: white !important;
  	}
  	nav a:hover{
  		opacity: 0.8;
  	}
  	.up{
  		background: white;
  		border-bottom: 1px solid #e7e7e7;
  	}
  	.upColor{
  		color: #777 !important;
  	}
    html {
      position: relative;
    min-height: 100%;
  }
  body{
    height: 100%;
    padding-bottom: 100px;
  }
    footer{
      /*background-color: #0275d8;*/
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 5%;
      height: 100px;
    }
    .logo img{
    	display: inline-block;
    	width: 250px;
    }
    .fa{
    	font-size: 22px;
    	margin-left: 11px;
    }
    .rightFooter{
	    bottom: 0px;
	    position: absolute;
	    right: 0;
    	text-align: right;
    }
    .copy p{
    	margin: 0px;
    }
    .copy{
    	margin-top: 5px;
    	font-size: 11px;
    }
    .footerCont a{
    	transition: all 0.3s;
    	color: #333;
    }
    .footerCont a:hover{
    	opacity: 0.8;
    }
    .footerLinks a:hover{
    	text-decoration: none;
    }
    .footerCont{
    	bottom: 15px;
    	position: relative;
    }
    .dropdownA{
    	color: #333 !important;
    }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important; 
        color:#333 !important;
    }

@media (max-width : 991px){
  .navbar-brand{
    display: none;
  }
  #myTabs{
    font-size: 0.8em;
  }
  .landingRow{
    height: auto !important;
  }
}

@media (max-width : 767px){
  .navbar-toggle{
    background: white;
  }
  .navbar-collapse{
    background: white;
  }
  .navbar-collapse ul li a{
    color: #777 !important;
  }
  .navbar-header{
    background: white;
  }
  .navbar-brand{
    display: block;
    color: #777 !important;
  }
  .logoSpan img{
    width: 50% !important;
  }
  #myTabs{
    font-size: 1em;
  }
  .formDiv{
    height: auto !important;
  }
}
  </style>
  </head>

  <body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" data-turbolinks="false">Archer Travel</a>
        </div>
        <%# if session[:user_id] %>
        <div id="navbar" class="navbar-collapse collapse">
          	<%# @checkUser = User.find(session[:user_id]) %>
	          <ul class="nav navbar-nav navbar-right">
	          <% if session[:admin] %>
               	<li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a class="dropdownA" href="/specials/admin">Specials</a></li>
	                <li><a class="dropdownA" href="/specials/new">New Special</a></li>
	                <!-- <li><a class="dropdownA" href="/blog/new">New Blog Post</a></li> -->
	                <!-- <li><a class="dropdownA" href="/specials/new">Specials</a></li> -->
	                <!-- <li role="separator" class="divider"></li> -->
	                <!-- <li class="dropdown-header">Nav header</li> -->
	                <!-- <li><a class="dropdownA" href="/chatroom_admin">Support Tickets</a></li> -->
	                <!-- <li><a href="#">One more separated link</a></li> -->
	              </ul>
	            </li>
              <% end %>
            	<li><a href="/" data-turbolinks="false">Home</a></li>
            	<li><a href="/specials">Specials</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destinations<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/hawaii" class="dropdownA">Hawaii</a></li>
	                <li><a href="/vegas" class="dropdownA">Las Vegas</a></li>
	                <li><a href="/alaska" class="dropdownA">Alaska</a></li>
	                <li><a href="/europe" class="dropdownA">Europe</a></li>
	              </ul>
	            </li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vacations<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/luxury" class="dropdownA">Luxury</a></li>
	                <li><a href="/short" class="dropdownA">Short</a></li>
	                <li><a href="/active" class="dropdownA">Active</a></li>
	                <li><a href="/carribean" class="dropdownA">Carribean</a></li>
	              </ul>
	            </li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cruises<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/river" class="dropdownA">River Cruises</a></li>
	                <li><a href="/distinct" class="dropdownA">Distinctive Voyages</a></li>
	              </ul>
	            </li>
	            <li><a href="/about">About</a></li>
	            <li><a href="/contact">Contact</a></li>
	            <li><a href="http://www.archercorporatetravel.com/">Corporate</a></li>
	          </ul>
          <%# end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  	<div class="container-fluid yieldContainer">
    	<%= yield %>
    </div>
    <footer class="footer">
    	<div class="container footerCont">
    		<span class="logo"><%= image_tag('logo.png') %></span>
    		<a href="https://www.facebook.com/archertravelgroup/" target="_blank"><i class="fa fa-facebook"></i></a>
    		<a href="https://twitter.com/archer_travel" target="_blank"><i class="fa fa-twitter"></i></a>
    		<a href="https://www.linkedin.com/in/ronarcher" target="_blank"><i class="fa fa-linkedin"></i></a>
    		<div class="rightFooter">
	    		<span class="footerLinks">
	    			<a href="/terms">Terms</a> | 
	    			<a href="/privacy">Privacy</a> | 
	    			<a href="/contact">Contact</a>
	    		</span>
	    		<div class="copy">
	    			<p>&copy; Copyright 2017. All Rights Reserved. Archer Travel Service, Inc.</p>
	    			<p>Seller of Travel: CA 2001330-10, FL 35395</p>
	    			<p>1-800-Archers</p>
	    			<p>4148 Ocean View Blvd Montrose CA 91020</p>
	    			<p>Monday-Friday 7 AM - 5 PM</p>
	    		</div>
    		</div>
    	</div>
    </footer>
  </body>
<script type="text/javascript">
$( document ).on('turbolinks:load', function() {
	var lastScrollTop = 0;
	// element should be replaced with the actual target element on which you have applied scroll, use window in case of no target element.
	window.addEventListener("scroll", function(){ // or window.addEventListener("scroll"....
	   var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
	   if (st > lastScrollTop){
	       // downscroll code
	       // console.log('down')
	       $('.navbar').addClass('down')
	   } else {
	      // upscroll code
	      // console.log('up')
	      var vscroll = document.body.scrollTop;
	      if(vscroll == 0){
	      	$('.navbar').removeClass('down')
	      	$('.navbar').removeClass('up')
	      	$('.navbar-nav>li>a').removeClass('upColor')
	      	$('.navbar-brand').removeClass('upColor')
	      }
	      else{
	      	$('.navbar').removeClass('down')
	      	$('.navbar').addClass('up')
	      	$('.navbar-nav>li>a').addClass('upColor')
	      	$('.navbar-brand').addClass('upColor')
	      }
	   }
	   lastScrollTop = st;
	}, false);
});
</script>
</html>
